<%= form_for(@seat) do |f| %>
    <%= render 'common/errors', resourse: @seat %>

    <div class="field">
      <%= f.label :seat_type %><br>
      <%= f.text_field :seat_type %>
      <p></p>
      <%= f.label :amount_seats %><br>
      <%= f.text_field :amount_seats %>
    </div>
    <div class="field">
      <%= f.label :car, "Car" %><br>
      <%= f.collection_select :car_id, Car.all, :id, :id %>
    </div>

    <div class="actions">
      <%= f.submit "#{ @seat.new_record? ? 'Create Seat' : 'Update Seat'}"%>
    </div>
<% end %>