<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @seat.seat_type %>
<p>
  <strong>Amount:</strong>
  <%= @seat.amount_seats %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>