<%= form_for [:admin, @route] do |f| %>
  <%= render 'common/errors', resourse: @route %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :station_ids %>
    <%= f.collection_select :station_ids, Station.all, :id, :title, {}, { multiple: true } %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit', action: @route.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>