<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('.title')%></strong>
  <%= @route.title %>
</p>
<p>
  <strong><%=t('.list_of_trains')%></strong>
  <% if @route.trains.present? %>
    <ol>
      <% @route.trains.each do |train|%>
          <li><%= train.number %></li>
      <% end %>
    </ol>
  <% else %>
    <%=t('.not_indicated')%>
  <% end %>
</p>
<p>
  <strong><%=t('.all_station_on_the_route')%></strong>
  <% if @route.stations.present? %>
  <table>
  <thead>
  <tr>
    <td width="100px"> <%=t('.title')%></td>
    <td><%=t('.station_number')%> </td>
    <td><%=t('.arrival_time')%></td>
    <td><%=t('.departure_time')%></td>
  </tr>
  </thead>
  <tbody>
    <% @route.stations.ordered.each do |station|%>
      <tr>
       <td>  <%= station.title %> </td>
       <td>
         <%= form_tag update_station_number_admin_station_path(station), method: :patch do %>
           <%= number_field_tag :station_number, station.station_number_in(@route) %>
           <%= hidden_field_tag :route_id, @route.id %>
           <%= submit_tag t('.change') %>
         <% end %>
       </td>
        <td> <%= datetime_field_tag :arrival_time, station.arrival_time_in(@route) %></td>
        <td> <%= datetime_field_tag :departure_time, station.departure_time_in(@route) %></td>
      </tr>
      <%end%>
  </tbody>
  </table>
  <% else %>
    <%=t('.not_indicated')%>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
