<%= form_for(@train) do |f| %>
    <%= render 'common/errors', resourse: @train %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :current_station, "Current station" %><br>
    <%= f.collection_select :current_station_id, Station.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :current_route, "Current route" %><br>
    <%= f.collection_select :route_id, Route.all, :id, :title %>
  </div>
    Car:
    <ul>
      <%= f.fields_for :car do |cars_form| %>
        <li>
          <%= cars_form.label :number %>
          <%= cars_form.text_field :number %>
          <%= cars_form.label :car_type %>
          <%= cars_form.text_field :car_type %>
          <%= cars_form.label :amount_top_seats %>
          <%= cars_form.text_field :amount_top_seats %>
          <%= cars_form.label :amount_bottom_seats %>
          <%= cars_form.text_field :amount_bottom_seats %>
        </li>
      <% end %>
    </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
