<p id="notice"><%= notice %></p>
  <p>
  <strong>Number:</strong>
  <%= @train.number %>
  </p>
  <p>
  <strong>On station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title  %>
  <% else %>
    Not indicated
  <% end %>
  </p>
  <p>
  <strong>On route:</strong>
  <% if @train.current_route.present? %>
    <%= @train.current_route.title  %>
  <% else %>
    The route is not assigned
  <% end %>

  <form action = '/trains/<%=@train.id%>/' >
    <br>
    <label><input type="checkbox" name="orderedZ" value="true">Train tail</label>
    <input type="submit"/>
  </form>
  <strong>Cars info:</strong>

<ul>
  <% if @orderedZ == "true" %>
    <% @train.cars.orderedZ.each do |car|%>
      <li><%= link_to "Car №:#{car.number}", car_path(car) %></li>
    <% end %>
  <% else %>
    <% @train.cars.each  do |car|%>
      <li><%= link_to "Car №:#{car.number}", car_path(car) %></li>
    <% end %>
  <% end %>
</ul>
</p>

<%= link_to 'Add car', new_train_car_path(@train) %> |


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
