<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>On station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title  %>
  <% else %>
    Not indicated
  <% end %>
</p>
<p>
  <strong>On route:</strong>
  <% if @train.current_route.present? %>
      <%= @train.current_route.title  %>
  <% else %>
      The route is not assigned
  <% end %>
</p>
<p>
  <strong>Cars info:</strong>
  <% if @train.cars.present? %>
    <ol>
      <% @train.cars.each do |car|%>
        <li><%= car.car_type %>
        <ul><% if car.amount_top_seats.present? %>
          <li>Amount top seats: <%= car.amount_top_seats %></li>
        <% else %>
          The top seats is not assigned
        <% end %>
        <% if car.amount_bottom_seats.present? %>
          <li>Amount bottom seats:<%= car.amount_bottom_seats %></li>
        <% else %>
          The bottom seats is not assigned
        <% end %>
        </ul></li>
      <% end %>
    </ol>
  <% else %>
      The car is not assigned
  <% end %>
</p>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
