<tr>
  <td><%= car.id %></td>
  <td><%= car.number %></td>
  <td><%= car.type %></td>
  <td><%= link_to 'Show',  [:admin, car] %></td>
  <td><%= link_to 'Edit', edit_admin_car_path(car) %></td>
  <td><%= link_to 'Destroy',  [:admin, car], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>