<%= form_for [:admin, @train, @car] do |f| %>

  <%= render 'common/errors', resourse: @car %>
    <div class="row">
      <strong><%=t('.choose_cars_type')%></strong> <p></p>
      <div class="col-md-3">
        <a href="new?type=SVCar", class= 'form-control'><b><%=t('.SVCar')%></b></a>
      </div>
      <div class="col-md-3">
        <a href="new?type=CoupeCar", class= 'form-control' ><b><%=t('.coupecar')%></b></a>
      </div>
      <div class="col-md-3">
        <a href="new?type=EconomyCar", class= 'form-control' ><b><%=t('.economycar')%></b></a>
      </div>
      <div class="col-md-3">
        <a href="new?type=SittingCar", class= 'form-control' ><b><%=t('.sittingcar')%></b></a>
      </div>
    </div>
  <p></p>
  <% if @type == 'CoupeCar' %>
    <%= f. text_field :type, :value => CoupeCar.name%>
    <div class="field">
      <%= f.label :amount_top_seats %><br>
      <%= f.text_field :amount_top_seats %>
    </div>
    <div class="field">
      <%= f.label :amount_bottom_seats %><br>
      <%= f.text_field :amount_bottom_seats %>
    </div>
  <% elsif @type == 'EconomyCar'%>
    <%= f. text_field :type, :value => EconomyCar.name%>
    <div class="field">
      <%= f.label :amount_top_seats %><br>
      <%= f.text_field :amount_top_seats %>
    </div>
    <div class="field">
      <%= f.label :amount_bottom_seats %><br>
      <%= f.text_field :amount_bottom_seats %>
    </div>    <div class="field">
      <%= f.label :amount_side_top_seats %><br>
      <%= f.text_field :amount_side_top_seats %>
    </div>
    <div class="field">
      <%= f.label :amount_side_bottom_seats %><br>
      <%= f.text_field :amount_side_bottom_seats %>
    </div>
  <% elsif @type == "SVCar" %>
    <%= f. text_field :type, :value => 'SVCar'%>
    <div class="field">
      <%= f.label :amount_bottom_seats %><br>
      <%= f.text_field :amount_bottom_seats %>
    </div>
  <% elsif @type == 'SittingCar'%>
    <%= f. text_field :type, :value => 'SittingCar'%>
    <div class="field">
      <%= f.label :amount_sitting_seats %><br>
      <%= f.text_field :amount_sitting_seats %>
    </div>
  <% end %>
  <%= hidden_field_tag :number, @train.number %>
    <div class="actions">
      <%= f.submit t('.submit', action: @car.new_record? ? 'Создать' : 'Изменить') %>
    </div>
<% end %>
