<h1><%= t('.titleed') %></h1>
<%= form_for([:admin, @car.becomes(Car)]) do |f| %>
    <% f.object = @car.becomes(@car.class)%>
    <%= render 'common/errors', resourse: @car %>
    <strong><%=t('.choose_cars_type')%></strong> <p></p>
    <a href= "/admin/cars/<%=@car.id%>/edit?type=SVCar", class= 'form-control'><b><%=t('.SVCar')%></b></a>
    <a href="/admin/cars/<%=@car.id%>/edit?type=CoupeCar", class= 'form-control' ><b><%=t('.coupecar')%></b></a>
    <a href="/admin/cars/<%=@car.id%>/edit?type=EconomyCar", class= 'form-control' ><b><%=t('.economycar')%></b></a>
    <a href="/admin/cars/<%=@car.id%>/edit?type=SittingCar", class= 'form-control' ><b><%=t('.sittingcar')%></b></a>
    <p></p>
    <% if @type == 'CoupeCar' %>
        <%= f. text_field :type, :value => CoupeCar.name%>
        <div class="field">
          <%= f.label :amount_top_seats %><br>
          <%= f.text_field :amount_top_seats %>
        </div>
        <div class="field">
          <%= f.label :amount_bottom_seats %><br>
          <%= f.text_field :amount_bottom_seats %>
        </div>
    <% elsif @type == 'EconomyCar'%>
        <%= f. text_field :car_type, :value => EconomyCar.name%>
        <div class="field">
          <%= f.label :amount_top_seats %><br>
          <%= f.text_field :amount_top_seats %>
        </div>
        <div class="field">
          <%= f.label :amount_bottom_seats %><br>
          <%= f.text_field :amount_bottom_seats %>
        </div>    <div class="field">
  <%= f.label :amount_side_top_seats %><br>
  <%= f.text_field :amount_side_top_seats %>
</div>
        <div class="field">
          <%= f.label :amount_side_bottom_seats %><br>
          <%= f.text_field :amount_side_bottom_seats %>
        </div>
    <% elsif @type == "SVCar" %>
        <%= f. text_field :type, :value => SVCar.name%>
        <div class="field">
          <%= f.label :amount_bottom_seats %><br>
          <%= f.text_field :amount_bottom_seats %>
        </div>
    <% elsif @type == 'SittingCar'%>
        <%= f. text_field :car_type, :value => SittingCar.name%>
        <div class="field">
          <%= f.label :amount_sitting_seats %><br>
          <%= f.text_field :amount_sitting_seats %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :train , t('.train')%><br>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>
    <div class="actions">
      <%= f.submit t('.submit', action: @car.new_record? ? 'Создать' : 'Изменить') %>
    </div>
<% end %>

<%= link_to t('common.back'),  admin_trains_path %>