<p id="notice"><%= notice %></p>

<h1><%=t('common.carlist')%></h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th><%=t('.title')%></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @cars.each do |car| %>
    <%= render :partial => 'car', :locals => { :car => car } %>
  <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
