<p id="notice"><%= notice %></p>
<h1><%=t('.car_number')%><%= @car.number %></h1>
<p>
  <%=t('.train_number')%> <%= @car.train.number %>
 </p>
<p>
  <strong> <%=t('.type')%></strong>
  <%= @car.type %>
</p>
<p>
  <strong><%=t('.seats_info')%></strong>
  <% if @car.type == 'CoupeCar' %>
    <p><%=t('.amount_top_seats')%> <%= @car.amount_top_seats%>
    <p><%=t('.amount_bottom_seats')%> <%= @car.amount_bottom_seats%>
  <% elsif @car.type == 'EconomyCar'%>
    <p><%=t('.amount_top_seats')%> <%= @car.amount_top_seats%>
    <p><%=t('.amount_bottom_seats')%> <%= @car.amount_bottom_seats%>
    <p><%=t('.amount_side_top_seats')%> <%= @car.amount_side_top_seats%>
    <p><%=t('.amount_side_bottom_seats')%> <%= @car.amount_side_bottom_seats%>
  <% elsif @car.type == 'SVCar'%>
    <p><%=t('.amount_bottom_seats')%> <%= @car.amount_bottom_seats%>
  <% elsif @car.type == 'SittingCar'%>
    <p><%=t('.amount_sitting_seats')%> <%= @car.amount_sitting_seats%>
<% end %>
</p>

<%= link_to t('common.edit'), edit_admin_car_path(@car) %> |
<%= link_to t('common.back'), admin_trains_path %>

