<%= form_for(@station) do |f| %>
    <%= render 'common/errors', resourse: @station %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
