<p id="notice"><%= notice %></p>
<p>
  <strong><%=t('.title')%></strong>
  <%= @station.title %>
</p>

<% if @station.routes.empty? %>
    <p> <%=t('.error')%> </p>
<% else %>
    <p> <%=t('.station_in_routes')%></p>
    <ul>
      <% @station.routes.each do |route| %>
      <li> <%= route.title %></li>
      <% end %>
    </ul>
<% end %>

<%= link_to t('common.edit'), edit_admin_station_path(@station) %> |
<%= link_to t('common.back'), admin_stations_path %>
