<%= form_for [current_user, @ticket] do |f| %>
    <%= render 'common/errors', resourse: @ticket %>

    <div class="field">
      <%= f.label :fio, "Enter your full name" %><br>
      <%= f.text_field :fio %>
    </div>

    <div class="field">
      <%= f.label :passport_information, "Enter your passport information" %><br>
      <%= f.text_field :passport_information %>
    </div>

    <%= f.hidden_field :first_station_id, :value => params[:first_station_id] %>
    <%= f.hidden_field :last_station_id, :value => params[:last_station_id] %>
    <%= f.hidden_field :train_id, :value => @train_id %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>