<%= form_for [@train, @ticket] do |f| %>
    <%= render 'common/errors', resourse: @ticket %>

    <div class="field">
      <%= f.label :fio, "Enter your full name" %><br>
      <%= f.text_field :fio %>
    </div>

    <div class="field">
      <%= f.label :passport_information, "Enter your passport information" %><br>
      <%= f.text_field :passport_information %>
    </div>

    <div class="field">
      <%= f.label :train, "Train" %><br>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="field">
      <%= f.label :first_station, "First station" %><br>
      <%= f.collection_select :first_station_id, Station.all, :id, :title %>
    </div>

    <div class="field">
      <%= f.label :last_station, "Last station" %><br>
      <%= f.collection_select :last_station_id, Station.all, :id, :title %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
