<p id="notice"><%= notice %></p>
<p>
  <strong><%= t('.user_email') %></strong>
  <%= @ticket.user.email %>
</p>
<p>
  <strong><%= t('.fio') %></strong>
  <%= @ticket.fio %>
</p>

<p>
  <strong><%= t('.passport_information') %></strong>
  <%= @ticket.passport_information %>
</p>

<p>
  <strong><%= t('.train_number') %></strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong><%= t('.first_station') %></strong>
    <%= @ticket.first_station.title %>
</p>

<p>
  <strong><%= t('.last_station') %></strong>
    <%= @ticket.last_station.title %>
</p>


<%= link_to t('common.search'), search_path %> |
<%= link_to t('common.tilist'), user_tickets_path(current_user)%>
