<%= form_for [:admin, @ticket] do |f| %>
    <%= render 'common/errors', resourse: @ticket %>

    <div class="field">
      <%= f.label :fio %><br>
      <%= f.text_field :fio %>
    </div>

    <div class="field">
      <%= f.label :passport_information %><br>
      <%= f.text_field :passport_information %>
    </div>

    <div class="field">
      <%= f.label :train %><br>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="field">
      <%= f.label :first_station %><br>
      <%= f.collection_select :first_station_id, Station.all, :id, :title %>
    </div>

    <div class="field">
      <%= f.label :last_station %><br>
      <%= f.collection_select :last_station_id, Station.all, :id, :title %>
    </div>

    <div class="actions">
      <%= f.submit t('.submit', action: @ticket.new_record? ? 'Создать' : 'Изменить') %>
    </div>
<% end %>