<%= form_for(@route) do |f| %>
    <%= render 'common/errors', resourse: @route %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div class="actions">
      <%= f.submit "#{ @route.new_record? ? 'Create Route' : 'Update Route'}"%>
    </div>
<% end %>