<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>
<p>
  <strong>List of trains:</strong>
  <% if @route.trains.present? %>
    <ol>
      <% @route.trains.each do |train|%>
          <li><%= train.number %></li>
      <% end %>
    </ol>
  <% else %>
      Not indicated
  <% end %>
</p>
<p>
  <strong>All station on the route:</strong>
  <% if @route.stations.present? %>
    <ol>
    <% @route.stations.each do |station|%>
      <li><%= station.title %></li>
    <% end %>
    </ol>
  <% else %>
    Not indicated
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
