<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>All station on the route:</strong>
</p>
<ol>
  <% @route.stations.each do |station|%>
    <li><%= station.title %></li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
