<%= form_for [:admin, @train] do |f| %>
    <%= render 'common/errors', resourse: @train %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :current_station, "Current station" %><br>
    <%= f.collection_select :current_station_id, Station.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :current_route, "Current route" %><br>
    <%= f.collection_select :route_id, Route.all, :id, :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
