<p id="notice"><%= notice %></p>

<h1> <%=t('common.tlist')%> </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%=t('.number')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<!--
    <%= render @trains %>
-->
<% @trains.each do |train| %>
  <tr>
    <td>
      <div id="train_number_<%= train.id %>">
        <%= train.number %>
      </div>
      <%= render 'form', train: train, hidden: true %>
    </td>
    <td><%= link_to t('common.show'), [:admin, train] %></td>
    <td><%= link_to t('common.edit'), '', class: 'edit_train', data: { train_id: train.id} %></td>
    <td><%= link_to t('common.destroy'), [:admin, train], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_admin_train_path %>