<p id="notice"><%= notice %></p>
  <p>
  <strong> <%=t('.number')%> </strong>
  <%= @train.number %>
  </p>
  <p>
  <strong> <%=t('.on_station')%> </strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title  %>
  <% else %>
        <%=t('.not_indicated')%>
  <% end %>
  </p>
  <p>
  <strong><%=t('.on_route')%></strong>
  <% if @train.current_route.present? %>
    <%= @train.current_route.title  %>
  <% else %>
        <%=t('.not_indicated')%>
  <% end %>

  <form action = '/admin/trains/<%=@train.id%>/' >
    <br>
    <label><input type="checkbox" name="orderedZ" value="true"> <%=t('.train_tail')%></label>
    <input type="submit"/>
  </form>
  <strong> <%=t('.cars_info')%></strong>

<ul>
  <% if @orderedZ == "true" %>
    <% @train.cars.orderedZ.each do |car|%>
      <li><%= link_to "Вагон №:#{car.number}", admin_car_path(car) %></li>
    <% end %>
  <% else %>
    <% @train.cars.each  do |car|%>
      <li><%= link_to "Вагон №:#{car.number}", admin_car_path(car) %></li>
    <% end %>
  <% end %>
</ul>
</p>

<%= link_to t('.add_car'), new_admin_train_car_path(@train) %> |


<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
