<%= form_for(@car, :as => :car, :url => {:controller => "cars",:action => "create"}) do |f| %>

  <%= render 'common/errors', resourse: @car %>
  <strong>Choose cars type:</strong> <p></p>
  <a href="new?type=SVCar" ><b>SVCar</b></a> OR
  <a href="new?type=CoupeCar" ><b>CoupeCar</b></a> OR
  <a href="new?type=EconomyCar" ><b>EconomyCar</b></a> OR
  <a href="new?type=SittingCar" ><b>SittingCar</b></a>
  <p></p>
  <% if @type == 'CoupeCar' %>
    <%= f. text_field :type, :value => CoupeCar.name%>
    <div class="field">
      <%= f.label :amount_top_seats %><br>
      <%= f.text_field :amount_top_seats %>
    </div>
    <div class="field">
      <%= f.label :amount_bottom_seats %><br>
      <%= f.text_field :amount_bottom_seats %>
    </div>
  <% elsif @type == 'EconomyCar'%>
    <%= f. text_field :type, :value => EconomyCar.name%>
    <div class="field">
      <%= f.label :amount_top_seats %><br>
      <%= f.text_field :amount_top_seats %>
    </div>
    <div class="field">
      <%= f.label :amount_bottom_seats %><br>
      <%= f.text_field :amount_bottom_seats %>
    </div>    <div class="field">
      <%= f.label :amount_side_top_seats %><br>
      <%= f.text_field :amount_side_top_seats %>
    </div>
    <div class="field">
      <%= f.label :amount_side_bottom_seats %><br>
      <%= f.text_field :amount_side_bottom_seats %>
    </div>
  <% elsif @type == "SVCar" %>
    <%= f. text_field :type, :value => 'SVCar'%>
    <div class="field">
      <%= f.label :amount_bottom_seats %><br>
      <%= f.text_field :amount_bottom_seats %>
    </div>
  <% elsif @type == 'SittingCar'%>
    <%= f. text_field :type, :value => 'SittingCar'%>
    <div class="field">
      <%= f.label :amount_sitting_seats %><br>
      <%= f.text_field :amount_sitting_seats %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :train, "Train" %><br>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>
        <%= submit_tag 'Create' %>
<% end %>
