<%= form_for(@car) do |f| %>
    <%= render 'common/errors', resourse: @car %>

    <div class="field">
      <%= f.label :car_type %><br>
      <%= select(:car, :car_type, [[ "Плацкарт", "Плацкарт"], ["Купе", "Купе"]]) %>
    </div>

    <div class="field">
      <%= f.label :amount_top_seats %><br>
      <%= f.text_field :amount_top_seats %>
    </div>

    <div class="field">
      <%= f.label :amount_bottom_seats %><br>
      <%= f.text_field :amount_bottom_seats %>
    </div>

    <div class="field">
      <%= f.label :train, "Train" %><br>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="actions">
      <%= f.submit "#{ @car.new_record? ? 'Create Car' : 'Update Car'}"%>
    </div>

<% end %>