<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @car.car_type %>
</p>
<p>
  <strong>Seats info:</strong>
  <% if @car.amount_top_seats.present? %>
    <p> Amount top seats:<%= @car.amount_top_seats%>
  <% else %>
    The top seats is not assigned
  <% end %>
  <% if @car.amount_bottom_seats.present? %>
    <p>Amount bottom seats:<%= @car.amount_bottom_seats%>
<% else %>
    The seats is not assigned
<% end %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>