<!DOCTYPE html>
<html>
<head>
  <title>Task10</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Tickets list', tickets_path %> | <%= link_to 'Trains list', trains_path %> | <%= link_to 'Station list', stations_path %>
| <%= link_to 'Car list', cars_path %> | <%= link_to 'Route list', routes_path %>


<%= yield %>
<p>"(с) 2016 Udovika Elena"</p>
</body>
</html>
