<!DOCTYPE html>
<html>
<head>
  <title>Task10</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <%= link_to t('common.sout'), destroy_user_session_path, method: :delete %>
    <% if current_user.admin? %>
      <%= link_to t('common.tlist'), admin_trains_path %> |
      <%= link_to t('common.slist'), admin_stations_path %> |
      <%= link_to t('common.rlist'), admin_routes_path %> |
      <%= link_to t('common.tilist'), admin_tickets_path %> |
      <%= link_to t('common.search'), search_path %>
    <% else %>
      <%= link_to t('common.tilist'), user_tickets_path(current_user) %> |
      <%= link_to t('common.search'), search_path %>
    <% end %>
  <% else %>
    <%= link_to t('common.sin'), new_user_session_path %>
  <% end %>


<%= yield %>
<p>"(с) 2016 Udovika Elena"</p>
</body>
</html>
